/* {
    border: 1px solid red;
}*/

.body-grid > * {
    background: #fafcfb;
    border-radius: 5px;
}

@font-face {
    font-family: "Source Sans Pro";
    src: url("fonts/SourceSansPro-Regular.ttf");
    font-weight: normal;
}

@font-face {
    font-family: "Source Sans Pro";
    src: url("fonts/SourceSansPro-Light.ttf");
    font-weight: 300;
}

@font-face {
    font-family: "Source Sans Pro";
    src: url("fonts/SourceSansPro-SemiBold.ttf");
    font-weight: 500;
}

body {
    background: #ebf1f3;
    font-family: "Source Sans Pro", sans-serif;
    /*font-size: 22px;*/
    font-size: 1.2em;
    margin: 0;
}

.funny-font {
    font-family: "Amatic SC";
}

.bold, h3 {
    font-weight: 400;
}

p {
    font-weight: 300;
    padding: 1rem 6rem 2rem 6rem;
    margin: 0;
    
}

ul {
    font-weight: 300;
    padding: 1rem 6rem 2rem 6rem;
    margin: 0;
}

h1 {
    font-size: 34px;
    font-weight: 400;
    padding: 3rem 6rem 1rem 6rem;
    text-transform: uppercase;
    font-family: "Amatic SC";
    margin: 0;
}

h3 {
    font-weight: 400;
    font-size: 30px;
    padding: 3rem 6rem 1rem 6rem;
    text-transform: uppercase;
    font-family: "Amatic SC";
    margin: 0;
}

a {
    color: #353636;  
    font-weight: 400;
    text-decoration: none;
}

.uppercase {
    text-transform: uppercase;
}

.main-logo {
    position: relative;
    display: block;
    margin-right: auto;
}

/*  ОСНОВНАЯ СЕТКА  */


.body-grid {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 80px 60vh 20vh auto auto 5%;
    grid-template-areas: 
        "top top top top top top"
        "article article article photo photo photo"
        "col-1 col-1 col-2 col-2 col-3 col-3"
        "qual qual qual qual qual qual"
        "cont cont cont cont cont cont"
        "foot foot foot foot foot foot";

    grid-gap: 30px;
    height: 260vh;
    margin: 0;
    padding: 30px;
    box-sizing: content-box;
}


.top {
    grid-area: top;    
    position: sticky;
    top: 0;
    z-index: 5;
    display: inline-flex;
    justify-content: flex-end;
    flex-wrap: wrap;  
    box-shadow: 0 30px 0 #ebf1f3;
    
}

.main-article {
    grid-area: article;  
}

.main-photo {
    grid-area: photo;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    position: relative;
    background: url('img/irina-foto-1.jpg');
    background-size: cover;
   

}

.main-photo img {
    position: absolute;
    width: auto;
    height: 100%;
    flex-shrink: 1;
}



.col-1 {
    grid-area: col-1;
}

.col-2 {
    grid-area: col-2;
}

.col-3 {
    grid-area: col-3;
}

.qualification {
    grid-area: qual;
    display: flex;
    flex-direction: row;
    position: relative;
    align-content: stretch;
    width: 100%;
    
}

.contacts {
    grid-area: cont;
    text-align: center;
    min-height: 85vh;
    overflow: auto;
}

.footer {
    grid-area: foot;
    z-index: 11;
    display: flex;
    box-sizing: content-box;
    justify-content: center;
}

/*
.therapy {
    grid-column: span(1 / 6);
    grid-row: span(2 / 3);
} */

/*  ПОПАП ЭОТ  */


.main-article {
    position: relative;
    min-height: 100%;
    overflow: auto;
}


.pop-up-info  {
    display: none;
    position: absolute;

    background: #fcfae6;
    color: black;
    z-index: 5;
}


.pop-up-url:hover .pop-up-info {
    display: block;
    min-width: 400;
}

/* КВАЛИФИКАЦИЯ */

.qualification p {
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 0;
    margin-bottom: 0;
}

.container {
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    flex-basis: 1200px;
    justify-items: center;
    margin: 0 auto;
}

.qualification p:last-child {
    margin-bottom: 3rem;
}

li, li > ul {
    list-style-type: none;
    padding: 0;
    line-height: 30px;
}

li > ul {
    padding-left: 4rem;
    background-color: #ebf1f39d;
}

.container + ul + li::before {
    content: " ";
    padding-left: 2rem;
    background: url('icons/icons8-ereader-96.png') left center no-repeat;
    background-size: 20px;
}

li ~ ul ~ li::before {
    content: " ";
    padding-left: 2rem;
    background-image: none;
}

.container h1 {
    padding-left: 10rem;
}




/*  РАЗДЕЛЫ С ИНФО ОБ УСЛУГАХ  */

.big-button {
    display: flex;
    height: 100%;
    flex-direction: row;
 
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;  
    padding: 5px;
    box-sizing: border-box;
    /*    border-bottom: 10px solid #fafcfb00;
    background: linear-gradient(#fafcfb, #eff5f5);*/
}

.big-button p {
    flex-basis: 400px;
    height: 40%;
    padding: 0;
    margin: 0;
    font-size: 1em;
    font-weight: 300;
    text-align: center;
}


.icon{
    min-width: 100px;
    min-height: 60px;
    max-height: 50%;
}

.individ {
    background: url("icons/icons8-idea-100.png") center no-repeat;
    background-size: 60px;
}

.child {
    background: url("icons/icons8-mother-100.png") center no-repeat;
    background-size: 60px;
}

.family {
    background: url("icons/icons8-family-96.png") center no-repeat;
    background-size: 60px;
}

/* ИНФО ОБ УСЛУГАХ  */

.info-picture {
    background: url("icons/icons8-books-96.png") 6rem 45px no-repeat;
    background-size: 50px;
}

.work-picture {
    background: url("icons/icons8-work-table-100.png") 6rem 45px no-repeat;
    background-size: 50px;
}

.therapy {
    position: absolute;
    height: 100%;
    z-index: 4;
    box-sizing: border-box;
    background: #fafcfb;
}

#info-adult {
    display: none;
}

#info-children {
    display: none;
}

#info-family {
    display: none;
}

#info-adult:target {

    display: flex;
    flex-direction: row;
}

#info-children:target {
    display: flex;
    flex-direction: row;
}

#info-family:target {
    display: flex;
    flex-direction: row;
}





/*  ГЛАВНОЕ МЕНЮ  */


.menu {
   height: 100%;
    align-content: center;
    padding: 0 6rem 0 0;
    margin: 0;  

}

.menu li {
    display: inline-block;
    display: inline-flex;
    align-content: center;
    height: 100%;
    box-sizing: border-box;

}

.menu li a {
    padding: 1.3rem 2rem;
    text-decoration: none;
    
}

.top img, .top h1 {

    margin: 10px 6rem;
    margin-right: auto;
    align-items: flex-start;

}

/* КОНТАКТЫ */

.flex-container {
    display: flex;
    align-content: space-between;
    justify-content: center;
    flex-wrap: wrap;
}

.inline-p > a {
    display: block;
    padding: 1rem;
    padding-left: 55px;
    border-bottom: 5px solid #fafcfb00
}

.inline-p {
    padding: 1rem;
}


.whatsapp {
    background: url("icons/icons8-whatsapp-100.png") 0% 50% no-repeat;
    background-size: 50px;
}
.skype {
    background: url("icons/icons8-skype-100.png") 0% 50% no-repeat;
    background-size: 50px;
}
.email{
    background: url("icons/icons8-gmail-100.png") 0% 50% no-repeat;
    background-size: 50px;
}

/* ФОРМА */

.form-box {
    display: flex;
    margin: 0 auto;
    z-index: 22;
    overflow: auto;
}

form {
    /* Расположим форму по центру страницы */
    margin: 0 auto 30px auto;
    flex-basis: 800px;
    /* Определим контур формы */
    padding: 1em;
    background: #ebf1f3;
    border-radius: 5px;
  }
  
  form ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  form li + li {
    margin-top: 1em;
  }
  
  label {
    /* Определим размер и выравнивание */
    display: inline-block;
    text-align: left;
    margin-right: auto;
    width: 500px;
    font-size: 1em;
  }
  
  input, 
  textarea {
    font-family: "Source Sans Pro", sans-serif;
    font-size: 1em;
    font-weight: 300;
    width: 500px;
    box-sizing: border-box;
    border: 1px solid #353636;
  }
  
  input:focus, 
  textarea:focus {
    border-color: rgb(147, 191, 197);
  }
  
  textarea {
    vertical-align: top;
    height: 5em;
  }
 
.submit-button {
    background: #ebf1f3;
    border-radius: 5px;
    padding: 20px 40px;
    border: none;
    box-shadow: none;
    font-family: "Source Sans Pro", sans-serif;
    font-size: 1em;
    font-weight: 300;
    background-color: #fafcfb;
}

.submit-button:hover {
    cursor: pointer;
    border-radius: 5px;
    background-color: #5e868650; 
    transition: color .1s ease-in, background-color .1s ease-in;
}

/* ФУТЕР */

.footer .content {
    display: flex;
    width: 100%;
    margin: 0 6rem;

    justify-content: space-between;
    box-sizing: content-box;

}

.mini-button  {
    display: flex;
    flex-direction: row;
    align-self: center;
    justify-content: start;
    box-sizing: content-box;
    height: 50px;
    flex-basis: 250px;
    margin: 30px 0;
    border-bottom: 0.3rem solid #5f8a8a00;
    font-weight: 400;
    font-size: 0.8em;
}

.icon-mini {
    min-width: 50px;
    min-height: 50px;
    max-height: 50%;
}

.icons8 {
    background: url("icons/icons8-import-96.png") center no-repeat;
    background-size: 50px;
}
.razrab {
    background: url("icons/icons8-notebook-96.png") center no-repeat;
    background-size: 50px;
}
.redactor {
    background: url("icons/icons8-press-kit-96.png") center no-repeat;
    background-size: 50px;
}



/* ДЕКОР ССЫЛОЧЕК */

a:hover {
    border-radius: 5px;
    background-color: #5e868650; 
    /*border-bottom: 0.3rem solid #dbe6e6;*/
    transition: color .1s ease-in, background-color .1s ease-in;
}

a:active {
    border-radius: 5px;
    background: #353636;
    background: #3f646450; 
    border-bottom: 0.3rem solid #dbe6e6;
}

/* МЕДИАЗАПРОСЫ */

@media (max-width: 1024px) {
    .body-grid {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: 80px 45vh 20vh auto auto 5%;
        grid-template-areas: 
            "top top top top top top"
            "article article article article photo photo"
            "col-1 col-1 col-2 col-2 col-3 col-3"
            "qual qual qual qual qual qual"
            "cont cont cont cont cont cont"
            "foot foot foot foot foot foot";
    
        grid-gap: 30px;
        height: 260vh;
        margin: 0;
        padding: 30px;
        box-sizing: content-box;
    }

    .top, .main-article, .qualification, .contacts, .footer, .content, h1, h3, p, ul {
        box-sizing: border-box;
        padding: 0.5rem 0.5rem;
        margin: 0 auto;
        width: 100%;
    }

    p, li {
        font-size: 0.9em;
    }

    h1, h3 {
        font-size: 1.2em;
        line-height: 1em;
    }

    .inline-p {
        width: 210px;
        margin-bottom: 5px;
        padding: 0px;
    }

    form {
        padding: 0.5rem 0.5rem;  
    }

    .main-logo {
        position: absolute;
        display: none;
    }

    .menu {
        margin: 0 auto;
        padding: 0;
    }

    .icon {
        background-size: 30%;
    }


    .big-button p {
        flex-basis: 400px;
        height: 50%;
        font-size: 0.9em;
        font-weight: 300;

    }
    
    
    .icon{
        min-width: 100px;
        min-height: 60px;
        max-height: 50%;
    }


    .info-picture {
        background: url("icons/icons8-books-96.png") 1rem 5px no-repeat;
        background-size: 30px;
    }
    
    .work-picture {
        background: url("icons/icons8-work-table-100.png") 1rem 5px no-repeat;
        background-size: 30px;
    }

    .container h1 {
        padding-left: 4rem;
    }
    
    .footer .content {
        width: 100%;
        margin: 0 0.5rem;
    }

    .main-article {
        overflow: hidden;
    }
}       


@media (max-width: 680px) {
    .body-grid {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto auto 10% auto auto auto 45% 20% auto;
        grid-template-areas: 
            "top"
            "article"
            "photo"
            "col-1"
            "col-2"
            "col-3"
            "qual"
            "cont"
            "foot";
        height: 550vh;
        grid-gap: 5px;
        margin: 0;
        padding: 30px;
        box-sizing: border-box;
    }

    .top, .main-article, .qualification, .contacts, .footer, .content, h1, h3, p, ul, li {
        box-sizing: border-box;
        padding: 0.5rem 0.5rem;
        margin: 0 auto;
        width: 100%; 
        display: flex;
        flex-direction: column;
        position: relative;
        overflow: hidden;
    }

    p, ul, li {
        font-size: 18px;
        font-weight: 400;
    }

a {
    border: 1px solid #dbe6e6;
    border-radius: 5px;
}

    .qualification p {
        padding-top: 0;
        padding-bottom: 0;
        margin-top: 0;
        margin-bottom: 0;
    }
    
    .container {
        display: block;
        position: relative;
        flex-direction: column;
        justify-items: center;
        margin: 0 auto;
    }
    .top ul {
        display: flex;
        flex-direction: column;
        position: relative;
    }

.top {
        box-shadow: none;
}

    .qualification { 
        overflow: none;
    }

    .footer {
        width: 100%;
        display: flex;
        margin: 0 auto;
        padding: 0;
        flex-wrap: wrap;
        flex-direction: row;
   
    }

    .content {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
    }

    .mini-button {
        width: 100%;
        margin: 5px auto;
    }
    
    .main-logo {
        position: fixed;
        top: 5%;
        right: 5%;
    }
}

@media (max-width: 500px) {
    .body-grid {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto auto 6% 70px 70px 70px 45% 15% auto;
        grid-template-areas: 
            "top"
            "article"
            "photo"
            "col-1"
            "col-2"
            "col-3"
            "qual"
            "cont"
            "foot";
        height: 640vh;
        grid-gap: 5px;
        margin: 0;
        padding: 5px;
        box-sizing: border-box;
    }
    
    br {
        display: none;
      }

    .big-button > .icon {
       display: none;
    }

    .big-button > p {
        padding: 0px;
        margin: 0px;
        
    }

        .top, .main-article, .qualification, .contacts, .content, h1, h3, p, ul, li {
            box-sizing: border-box;
            padding: 0.5rem 0.5rem;
            margin: 0 auto;
            width: 100%; 
            display: flex;
            flex-direction: column;
            position: relative;
            overflow: auto;
        }
    
        p, ul, li {
            font-size: 16px;
            font-weight: 400;
            overflow: scroll;
            line-height: 1.1em;
        }
   

    .main-logo {
        position: fixed;
        display: none;
    }

    form, label {
        padding: 5px;
        width: 370px;
        margin-top: -10px;
        margin-bottom: -10px;
    }
    .content {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
    }
  
}