d* {
    border: 1px solid red;
}

.body-grid > * {
    background: #fafcfb;
    border-radius: 5px;
}

@font-face {
    font-family: "Source Sans Pro";
    src: url("fonts/SourceSansPro-Regular.ttf");
    font-weight: normal;
}

@font-face {
    font-family: "Source Sans Pro";
    src: url("fonts/SourceSansPro-Light.ttf");
    font-weight: 300;
}

@font-face {
    font-family: "Source Sans Pro";
    src: url("fonts/SourceSansPro-SemiBold.ttf");
    font-weight: 500;
}

body {
    background: #ebf1f3;
    font-family: "Source Sans Pro", sans-serif;
    font-size: 22px;
    margin: 0;
}

.funny-font {
    font-family: "Amatic SC";
}

.bold, h3 {
    font-weight: 400;
}

p {
    font-weight: 300;
    padding: 1rem 6rem 2rem 6rem;
    margin: 0;
    
}

ul {
    font-weight: 300;
    padding: 1rem 6rem 2rem 6rem;
    margin: 0;
    list-style-type: ;
}

h1 {
    font-size: 34px;
    font-weight: 400;
    padding: 3rem 6rem 1rem 6rem;
    text-transform: uppercase;
    font-family: "Amatic SC";
    margin: 0;
}

h3 {
    font-weight: 400;
    font-size: 30px;
    padding: 3rem 6rem 1rem 6rem;
    text-transform: uppercase;
    font-family: "Amatic SC";
    margin: 0;
}

a {
    color: #353636;  
    font-weight: 400;
    text-decoration: none;
}

.uppercase {
    text-transform: uppercase;
}

/*  ОСНОВНАЯ СЕТКА  */


.body-grid {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 80px 3fr 2fr 30% 30% 5%;
    grid-template-areas: 
        "top top top top top top"
        "article article article photo photo photo"
        "col-1 col-1 col-2 col-2 col-3 col-3"
        "qual qual qual qual qual qual"
        "cont cont cont cont cont cont"
        "foot foot foot foot foot foot";

    grid-gap: 30px;
    height: 300vh;
    margin: 0;
    padding: 30px;
    box-sizing: border-box;
}


.top {
    grid-area: top;    
    position: sticky;
    top: 0;
    z-index: 5;
    display: inline-flex;
    justify-content: flex-end;
    flex-wrap: wrap;  
}

.main-article {
    grid-area: article;  
}

.main-photo {
    grid-area: photo;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    position: relative;
    background: none;

}

.main-photo img {
    position: absolute;
    width: auto;
    height: 100%;
    flex-shrink: 1;
}

.col-1 {
    grid-area: col-1;
}

.col-2 {
    grid-area: col-2;
}

.col-3 {
    grid-area: col-3;
}

.qualification {
    grid-area: qual;
    display: flex;
    flex-direction: row;
    position: relative;
    overflow: auto;
}

.contacts {
    grid-area: cont;
    text-align: center;
}

.footer {
    grid-area: foot;
    z-index: 11;
    display: flex;
    box-sizing: content-box;
    justify-content: center;
}

/*
.therapy {
    grid-column: span(1 / 6);
    grid-row: span(2 / 3);
} */

/*  ПОПАП ЭОТ  */


.main-article {
    position: relative;
}


.pop-up-info  {
    display: none;
    position: absolute;

    background: #fcfae6;
    color: black;
    z-index: 5;
}


.pop-up-url:hover .pop-up-info {
    display: block;
    min-width: 400;
}




/*  РАЗДЕЛЫ С ИНФО ОБ УСЛУГАХ  */

.big-button {
    display: flex;
    height: 100%;
    flex-direction: row;
    align-items: stretch;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;  
   
    border-bottom: 10px solid #fafcfb00;
    /*background: linear-gradient(#fafcfb, #eff5f5);*/
}

.big-button p {
    flex-basis: 400px;
    height: 50%;
    padding: 0;
    margin: 0;
    font-size: 24px;
    text-align: center;
}

.big-button:hover p {
    font-size: 26px;
    transition: ease-out 0.1s;
}

.icon{
    min-width: 150px;
    min-height: 60px;
    max-height: 50%;
}

.individ {
    background: url("icons/icons8-idea-100.png") center no-repeat;
    background-size: 60px;
}

.child {
    background: url("icons/icons8-mother-100.png") center no-repeat;
    background-size: 60px;
}

.family {
    background: url("icons/icons8-family-96.png") center no-repeat;
    background-size: 60px;
}

/* ИНФО ОБ УСЛУГАХ  */

.info-picture {
    background: url("icons/icons8-arch-100.png") center no-repeat;
    background-size: 60px;
}

.therapy {
    position: absolute;
    height: 100%;
    z-index: 4;
    box-sizing: border-box;
    background: #fafcfb;
}

#info-adult {
    display: none;
}

#info-children {
    display: none;
}

#info-family {
    display: none;
}

#info-adult:target {

    display: flex;
    flex-direction: row;
}

#info-children:target {
    display: flex;
    flex-direction: row;
}

#info-family:target {
    display: flex;
    flex-direction: row;
}





/*  ГЛАВНОЕ МЕНЮ  */


.menu {
   height: 100%;
    align-content: center;
    padding: 0 6rem 0 0;
    margin: 0;  

}

.menu li {
    display: inline-block;
    display: inline-flex;
    align-content: center;
    height: 100%;
    box-sizing: border-box;

}

.menu li a {
    padding: 1.3rem 2rem;
    text-decoration: none;
    
}

.top img, .top h1 {

    margin: 10px 6rem;
    margin-right: auto;
    align-items: flex-start;

}

/* КОНТАКТЫ */

.flex-container {
    display: flex;
    align-content: space-between;
    justify-content: center;
    flex-wrap: wrap;
}

.inline-p > a {
    display: block;
    padding: 1rem;
    padding-left: 55px;
    border-bottom: 5px solid #fafcfb00
}


.whatsapp {
    background: url("icons/icons8-whatsapp-100.png") 0% 50% no-repeat;
    background-size: 50px;
}
.skype {
    background: url("icons/icons8-skype-100.png") 0% 50% no-repeat;
    background-size: 50px;
}
.email{
    background: url("icons/icons8-gmail-100.png") 0% 50% no-repeat;
    background-size: 50px;
}

/* ФОРМА */




/* ФУТЕР */

.footer .content {
    display: flex;
    width: 100%;
    margin: 0 6rem;

    justify-content: space-between;
    box-sizing: content-box;

}

.mini-button  {
    display: flex;
    flex-direction: row;
    align-self: center;
    justify-content: start;
    box-sizing: content-box;
    height: 30%;
    flex-basis: 250px;
    margin: 30px 0;
    border-bottom: 0.3rem solid #5f8a8a00;
    font-weight: 400;
    font-size: 0.8em;
}

.icon-mini {
    min-width: 50px;
    min-height: 50px;
    max-height: 50%;
}

.icons8 {
    background: url("icons/icons8-import-96.png") center no-repeat;
    background-size: 50px;
}
.razrab {
    background: url("icons/icons8-notebook-96.png") center no-repeat;
    background-size: 50px;
}
.redactor {
    background: url("icons/icons8-press-kit-96.png") center no-repeat;
    background-size: 50px;
}



/* ДЕКОР ССЫЛОЧЕК */

a:hover {
    border-radius: 5px;
    background-color: #5e868650; 
    border-bottom: 0.3rem solid #dbe6e6;
}

a:active {
    border-radius: 5px;
    background: #353636;
    background: #3f646450; 
    border-bottom: 0.3rem solid #dbe6e6;
}


.main-photo .img {

}